Source: joyent-mdata-client
Maintainer: SmartOS Community <smartos-discuss@lists.smartos.org>
Section: misc
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8)

Package: joyent-mdata-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: https://github.com/TritonDataCenter/mdata-client
Description: Metadata client tools for use in guest virtual machines
 hosted on a SmartOS hypervisor.
