/configure.*
/configure-*
/output
/projects
/proto
/log
/src/bootparams
/src/disk_size
/src/removable_disk
/src/disklist
/tools/builder/builder
/tools/builder/*.o
/tools/builder/users.c
/tools/cryptpass
/tools/pwgen
/0-*-stamp
/manifest.new
zonestat.1
zonestatd.1m
ronn-format.7
