/configure.*
/configure-*
/output
/projects
/proto
/log
/src/*.o
/src/bootparams
/src/disk_size
/src/removable_disk
/src/disklist
/src/qemu-exec
/src/vmunbundle
/src/zfs_recv
/src/zfs_send
/src/zoneevent
/src/vm/tests.tar.gz
/src/node-kstat/.lock-wscript
/src/node-kstat/build
/src/node-syslog/.lock-wscript
/src/node-syslog/build
/tools/builder/builder
/tools/builder/*.o
/tools/builder/users.c
/tools/builder/users.c.tmp
/tools/cryptpass
/tools/pwgen
/tools/pwgen-2.06/configure
/tools/javascriptlint/build
/tools/javascriptlint/spidermonkey/src/build
/0-*-stamp
/manifest.new
/illumos-extra-*.tgz
zonestat.1
zonestatd.1m
ronn-format.7
man/man/man1m/vfsstat.1m
man/man/man1m/ziostat.1m
man/man/man1m/vmadm.1m
man/man/man1m/vmadmd.1m
src/marco
src/polo
src/diskinfo
src/node-zsock/.lock-wscript
src/node-zsock/build/
src/node-zutil/.lock-wscript
src/node-zutil/build/
src_addon/bind/bind-9.8.0/
src_addon/ipmi/ipmitool-1.8.11/
src_addon/libreadline/config.log
src_addon/libreadline/config.status
src_addon/libreadline/*.o
src_addon/libreadline/*.a
src_addon/libreadline/shlib/*.so
src_addon/libusb/*.1
src_addon/cpp/cpp
src_addon/cpp/cpp.o
src_addon/cpp/y.tab.c
src_addon/cpp/y.tab.o
src_addon/libreadline/shlib/libhistory.so.5
src_addon/libreadline/shlib/libreadline.so.5
src_addon/libusb/wr_libusb.o
src_addon/on-tty/sdc-on-tty
src_addon/on-tty/sdc-on-tty.o
tools/pwgen-2.06/Makefile
tools/pwgen-2.06/autom4te.cache
manifest.gen
manifest.d/
overlay/order
overlay/sdc
