/configure.*
/configure-*
/output
/projects
/proto
/log
/src/bootparams
/src/disk_size
/src/removable_disk
/src/disklist
/tools/builder/builder
/tools/builder/*.o
/tools/builder/users.c
/tools/cryptpass
/tools/pwgen
/0-*-stamp
/manifest.new
zonestat.1
zonestatd.1m
ronn-format.7
man/man/man1m/vfsstat.1m
man/man/man1m/ziostat.1m
src/has_hvx
src/marco
src/polo
src_addon/bind/bind-9.8.0/
src_addon/ipmi/ipmitool-1.8.11/
src_addon/libreadline/Makefile
src_addon/libreadline/config.log
src_addon/libreadline/config.status
src_addon/libreadline/*.o
src_addon/libreadline/*.a
src_addon/libreadline/shlib/*.so
src_addon/libusb/*.1
