#
# This file contains an example of default key binding that can be made for
# bash(1) users on this system.  To make these settings the default for system
# users, you will need to copy it to /etc/bash/inputrc
#

set meta-flag on
set input-meta on
set convert-meta off
set output-meta on

$if mode=vi
    set editing-mode vi
    set keymap vi
$endif

$if mode=emacs
    $if term=xterm
        "\e\eOD":  backward-word
        "\e\eOC":  forward-word
        "\e\eOA":  up-history
        "\e\eOB":  down-history
        "\C-\eOD": backward-char
        "\C-\eOC": forward-char
        "\C-\eOA": up-history
        "\C-\eOB": down-history
    $endif
    "\e\e[D":  backward-word
    "\e\e[C":  forward-word
    "\e\e[A":  up-history
    "\e\e[B":  down-history
    "\C-\e[D": backward-char
    "\C-\e[C": forward-char
    "\C-\e[A": up-history
    "\C-\e[B": down-history
$endif

"\e[1~":        beginning-of-line
"\e[2~":        yank
"\e[3~":        delete-char
"\e[4~":        end-of-line
"\e[5~":        history-search-backward
"\e[6~":        history-search-forward
"\e[C":         forward-char
"\e[D":         backward-char
"\e[A":         previous-history
"\e[B":         next-history
"\C-?":         backward-delete-char
"\C-H":         backward-delete-char

$if term=xterm
    "\e[2;2~":  yank
    "\e[3;2~":  delete-char
    "\e[5;2~":  history-search-backward
    "\e[6;2~":  history-search-forward
    "\e[2;3~":  yank
    "\e[3;3~":  delete-char
    "\e[5;3~":  history-search-backward
    "\e[6;3~":  history-search-forward
    "\e[2;4~":  yank
    "\e[3;4~":  delete-char
    "\e[5;4~":  history-search-backward
    "\e[6;4~":  history-search-forward
    "\e[2;5~":  yank
    "\e[3;5~":  delete-char
    "\e[5;5~":  history-search-backward
    "\e[6;5~":  history-search-forward
    "\e[2;6~":  yank
    "\e[3;6~":  delete-char
    "\e[5;6~":  history-search-backward
    "\e[6;6~":  history-search-forward
    "\e[2;7~":  yank
    "\e[3;7~":  delete-char
    "\e[5;7~":  history-search-backward
    "\e[6;7~":  history-search-forward
    "\e[2;8~":  yank
    "\e[3;8~":  delete-char
    "\e[5;8~":  history-search-backward
    "\e[6;8~":  history-search-forward
    "\e[E":     re-read-init-file
    "\e[1;2E":  re-read-init-file
    "\e[1;3E":  re-read-init-file
    "\e[1;4E":  re-read-init-file
    "\e[1;5E":  re-read-init-file
    "\e[1;6E":  re-read-init-file
    "\e[1;7E":  re-read-init-file
    "\e[1;8E":  re-read-init-file
    "\e[2C":    forward-word
    "\e[2D":    backward-word
    "\e[2A":    history-search-backward
    "\e[2B":    history-search-forward
    "\e[1;2C":  forward-word
    "\e[1;2D":  backward-word
    "\e[1;2A":  history-search-backward
    "\e[1;2B":  history-search-forward
    "\e[1;3C":  forward-word
    "\e[1;3D":  backward-word
    "\e[1;3A":  history-search-backward
    "\e[1;3B":  history-search-forward
    "\e[1;4C":  forward-word
    "\e[1;4D":  backward-word
    "\e[1;4A":  history-search-backward
    "\e[1;4B":  history-search-forward
    "\e[5C":    forward-word
    "\e[5D":    backward-word
    "\e[5A":    history-search-backward
    "\e[5B":    history-search-forward
    "\e[1;5C":  forward-word
    "\e[1;5D":  backward-word
    "\e[1;5A":  history-search-backward
    "\e[1;5B":  history-search-forward
    "\e[1;6C":  forward-word
    "\e[1;6D":  backward-word
    "\e[1;6A":  history-search-backward
    "\e[1;6B":  history-search-forward
    "\e[1;7C":  forward-word
    "\e[1;7D":  backward-word
    "\e[1;7A":  history-search-backward
    "\e[1;7B":  history-search-forward
    "\e[1;8C":  forward-word
    "\e[1;8D":  backward-word
    "\e[1;8A":  history-search-backward
    "\e[1;8B":  history-search-forward
    "\e[1~":   history-search-backward
    "\e[4~":   set-mark
    "\e[H":    beginning-of-line
    "\e[F":    end-of-line
    "\e[1;2H": beginning-of-line
    "\e[1;2F": end-of-line
    "\e[1;3H": beginning-of-line
    "\e[1;3F": end-of-line
    "\e[1;4H": beginning-of-line
    "\e[1;4F": end-of-line
    "\e[1;5H": beginning-of-line
    "\e[1;5F": end-of-line
    "\e[1;6H": beginning-of-line
    "\e[1;6F": end-of-line
    "\e[1;7H": beginning-of-line
    "\e[1;7F": end-of-line
    "\e[1;8H": beginning-of-line
    "\e[1;8F": end-of-line
    "\e[2H":   beginning-of-line
    "\e[2F":   end-of-line
    "\e[5H":   beginning-of-line
    "\e[5F":   end-of-line
    "\eOH":    beginning-of-line
    "\eOF":    end-of-line
    "\eO2H":   beginning-of-line
    "\eO2F":   end-of-line
    "\eO5H":   beginning-of-line
    "\eO5F":   end-of-line
    "\eOD":     backward-char
    "\eOC":     forward-char
    "\eOA":     previous-history
    "\eOB":     next-history
    "\eOE":     re-read-init-file
    "\eO2D":    backward-word
    "\eO2C":    forward-word
    "\eO2A":    history-search-backward
    "\eO2B":    history-search-forward
    "\eO3D":    backward-word
    "\eO3C":    forward-word
    "\eO3A":    history-search-backward
    "\eO3B":    history-search-forward
    "\eO4D":    backward-word
    "\eO4C":    forward-word
    "\eO4A":    history-search-backward
    "\eO4B":    history-search-forward
    "\eO5D":    backward-word
    "\eO5C":    forward-word
    "\eO5A":    history-search-backward
    "\eO5B":    history-search-forward
    "\eO6D":    backward-word
    "\eO6C":    forward-word
    "\eO6A":    history-search-backward
    "\eO6B":    history-search-forward
    "\eO7D":    backward-word
    "\eO7C":    forward-word
    "\eO7A":    history-search-backward
    "\eO7B":    history-search-forward
    "\eO8D":    backward-word
    "\eO8C":    forward-word
    "\eO8A":    history-search-backward
    "\eO8B":    history-search-forward
    "\eOP":     "\e"
    "\eOQ":     undo
    "\eOR":     ""
    "\eOS":     kill-line
    "\eO2P":    "\e"
    "\eO2Q":    undo
    "\eO2R":    ""
    "\eO2S":    kill-line
    "\eO3P":    "\e"
    "\eO3Q":    undo
    "\eO3R":    ""
    "\eO3S":    kill-line
    "\eO4P":    "\e"
    "\eO4Q":    undo
    "\eO4R":    ""
    "\eO4S":    kill-line
    "\eO5P":    "\e"
    "\eO5Q":    undo
    "\eO5R":    ""
    "\eO5S":    kill-line
    "\eO6P":    "\e"
    "\eO6Q":    undo
    "\eO6R":    ""
    "\eO6S":    kill-line
    "\eO7P":    "\e"
    "\eO7Q":    undo
    "\eO7R":    ""
    "\eO7S":    kill-line
    "\eO8P":    "\e"
    "\eO8Q":    undo
    "\eO8R":    ""
    "\eO8S":    kill-line
    "\eO1;2P":  "\e"
    "\eO1;2Q":  undo
    "\eO1;2R":  ""
    "\eO1;2S":  kill-line
    "\eO1;3P":  "\e"
    "\eO1;3Q":  undo
    "\eO1;3R":  ""
    "\eO1;3S":  kill-line
    "\eO1;4P":  "\e"
    "\eO1;4Q":  undo
    "\eO1;4R":  ""
    "\eO1;4S":  kill-line
    "\eO1;5P":  "\e"
    "\eO1;5Q":  undo
    "\eO1;5R":  ""
    "\eO1;5S":  kill-line
    "\eO1;6P":  "\e"
    "\eO1;6Q":  undo
    "\eO1;6R":  ""
    "\eO1;6S":  kill-line
    "\eO1;7P":  "\e"
    "\eO1;7Q":  undo
    "\eO1;7R":  ""
    "\eO1;7S":  kill-line
    "\eO1;8P":  "\e"
    "\eO1;8Q":  undo
    "\eO1;8R":  ""
    "\eO1;8S":  kill-line
$else
    "\e[G":     re-read-init-file
    "\e[1~":    beginning-of-line
    "\e[4~":    end-of-line
$endif
$if term=gnome
    "\eOP":     "\e"
    "\eOQ":     undo
    "\eOR":     ""
    "\eOS":     kill-line
$endif

$if term=rxvt-unicode
    "\e[23$":   ""
    "\e[24$":   ""
    "\e[11^":   ""
    "\e[12^":   ""
    "\e[13^":   ""
    "\e[14^":   ""
    "\e[15^":   ""
    "\e[17^":   ""
    "\e[18^":   ""
    "\e[19^":   ""
    "\e[20^":   ""
    "\e[21^":   ""
    "\e[23^":   ""
    "\e[24^":   ""
    "\eOo":     "/"
    "\eOj":     "*"
    "\eOm":     "-"
    "\eOk":     "+"
    "\eOl":     ","
    "\eOM":     accept-line
    "\eOn":     "."
    "\eOp":     "0"
    "\eOq":     "1"
    "\eOr":     "2"
    "\eOs":     "3"
    "\eOt":     "4"
    "\eOu":     "5"
    "\eOv":     "6"
    "\eOw":     "7"
    "\eOx":     "8"
    "\eOy":     "9"
    "\e\eOo":   ""
    "\e\eOj":   ""
    "\e\eOm":   ""
    "\e\eOk":   ""
    "\e\eOl":   delete-char
    "\e\eOM":   accept-line
    "\e\eOn":   delete-char
    "\e\eOp":   yank
    "\e\eOq":   end-of-line
    "\e\eOr":   down-history
    "\e\eOs":   history-search-forward
    "\e\eOt":   backward-char
    "\e\eOu":   re-read-init-file
    "\e\eOv":   forward-char
    "\e\eOw":   beginning-of-line
    "\e\eOx":   up-history
    "\e\eOy":   history-search-backward
    "\e[c":     forward-word
    "\e[d":     backward-word
    "\e[a":     history-search-backward
    "\e[b":     history-search-forward
    "\e\e[c":   forward-word
    "\e\e[d":   backward-word
    "\e\e[a":   history-search-backward
    "\e\e[b":   history-search-forward
    "\e\e[C":   forward-word
    "\e\e[D":   backward-word
    "\e\e[A":   history-search-backward
    "\e\e[B":   history-search-forward
    "\e[2^":    yank
    "\e[3^":    delete-char
    "\e[5^":    history-search-backward
    "\e[6^":    history-search-forward
    "\e[7^":    beginning-of-line
    "\e[8^":    end-of-line
    "\e[2$":    yank
    "\e[3$":    delete-char
    "\e[5$":    history-search-backward
    "\e[6$":    history-search-forward
    "\e[7$":    beginning-of-line
    "\e[8$":    end-of-line
    "\e\e[2$":  yank
    "\e\e[3$":  delete-char
    "\e\e[5$":  history-search-backward
    "\e\e[6$":  history-search-forward
    "\e\e[7$":  beginning-of-line
    "\e\e[8$":  end-of-line
    "\e=":      accept-line
$endif

